:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
  background-image: url('streamers-bg.svg'), linear-gradient(#306CBF, #5D1D6E);
  background-repeat: repeat, no-repeat;
  height: 100vh;
}

:root, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}